.card-container {
  display       : flex;
  flex-direction: row;
  width         : auto;
  height        : 500px;
  margin        : 0 20px;
  align-items   : center;
}

.card-container--image {
  position              : relative;
  align-self            : center;
  width                 : 50%;
  height                : 100%;
  background-image      : url('../images/bg-pattern-desktop.svg');
  background-size       : 900px;
  /* background-position: right; */
  background-position-y : -250px;
  background-position-x : -500px;
}

.card-container--image img {
  position: relative;
  top     : 60px;
  left    : -100px;
  width   : 500px;
  height  : 400px;
}

.card-container--faq {
  width     : 50%;
  height    : 70%;
  text-align: left;
}

.card-container--faq h1 {
  margin-left: 10px;
}